<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>
            org.apache.shiro.web.servlet.ShiroFilter
        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <display-name>VITRO WSIs Bridge</display-name>
  <description>VITRO Bridge with WSIs</description>
  <servlet>
    <servlet-name>mainuiservlet</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.GatewaysAndQuerysView</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainuiservlet</servlet-name>
    <url-pattern>/roleEndUser/gatewaysandqueries</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>oldDebugScreen</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.OldDebugScreen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oldDebugScreen</servlet-name>
        <url-pattern>/roleEndUser/oldDebugScreen</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetComposedServiceListAction</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.GetComposedServiceListAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetComposedServiceListAction</servlet-name>
        <url-pattern>/roleEndUser/GetComposedServiceListAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditComposedServiceAction</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.EditComposedServiceAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditComposedServiceAction</servlet-name>
        <url-pattern>/roleEndUser/EditComposedServiceAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveComposedServiceAction</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.RemoveComposedServiceAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveComposedServiceAction</servlet-name>
        <url-pattern>/roleEndUser/RemoveComposedServiceAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveListOfComposedSelectedAction</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.RemoveListOfComposedSelectedAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveListOfComposedSelectedAction</servlet-name>
        <url-pattern>/roleEndUser/RemoveListOfComposedSelectedAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeployComposedServiceAction</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.DeployComposedServiceAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeployComposedServiceAction</servlet-name>
        <url-pattern>/roleEndUser/DeployComposedServiceAction</url-pattern>
    </servlet-mapping>
    <!--  EditServiceInstanceAction will be removed -->
  <servlet>
    <servlet-name>EditServiceInstanceAction</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.EditServiceInstanceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServiceInstanceAction</servlet-name>
    <url-pattern>/EditServiceInstanceAction</url-pattern>
  </servlet-mapping>
    <!--  RemoveServiceInstanceAction will be removed -->
  <servlet>
    <servlet-name>RemoveServiceInstanceAction</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.RemoveServiceInstanceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServiceInstanceAction</servlet-name>
    <url-pattern>/roleVSP/RemoveServiceInstanceAction</url-pattern>
  </servlet-mapping>
    <!--  RemoveListOfSelectedAction will be removed -->
  <servlet>
    <servlet-name>RemoveListOfSelectedAction</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.RemoveListOfSelectedAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveListOfSelectedAction</servlet-name>
    <url-pattern>/roleVSP/RemoveListOfSelectedAction</url-pattern>
  </servlet-mapping>
<!--  GetServiceInstanceListAction will be removed -->
  <servlet>
    <servlet-name>GetServiceInstanceListAction</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.GetServiceInstanceListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceInstanceListAction</servlet-name>
    <url-pattern>/roleVSP/GetServiceInstanceListAction</url-pattern>
  </servlet-mapping>
    <!--  GetServiceDeployListAdvanced will be removed -->
    <servlet>
        <servlet-name>GetServiceDeployListAdvanced</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.GetServiceDeployListAdvanced</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServiceDeployListAdvanced</servlet-name>
        <url-pattern>/roleEndUser/GetServiceDeployListAdvanced</url-pattern>
    </servlet-mapping>
    <!--  GetServiceDeployListSimple will be removed -->
    <servlet>
        <servlet-name>GetServiceDeployListSimple</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.GetServiceDeployListSimple</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetServiceDeployListSimple</servlet-name>
        <url-pattern>/roleEndUser/GetServiceDeployListSimple</url-pattern>
    </servlet-mapping>
    <!--  CreateServiceInstanceAction will be removed -->
  <servlet>
    <servlet-name>CreateServiceInstanceAction</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.CreateServiceInstanceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServiceInstanceAction</servlet-name>
    <url-pattern>/roleVSP/CreateServiceInstanceAction</url-pattern>
  </servlet-mapping>
    <!-- new for composed services -->
    <servlet>
        <servlet-name>GetComposedServiceDeployListAdvanced</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.GetComposedServiceDeployListAdvanced</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetComposedServiceDeployListAdvanced</servlet-name>
        <url-pattern>/roleEndUser/GetComposedServiceDeployListAdvanced</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateComposedServiceActionNew</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.CreateComposedServiceActionNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateComposedServiceActionNew</servlet-name>
        <url-pattern>/roleEndUser/CreateComposedServiceActionNew</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>LoadCapabilitesFromGateways</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.LoadCapabilitesFromGateways</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCapabilitesFromGateways</servlet-name>
    <url-pattern>/roleVSP/LoadCapabilitesFromGateways</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateServiceServletPrepareForm</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.service.CreateServiceServletPrepareForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServiceServletPrepareForm</servlet-name>
    <url-pattern>/roleVSP/CreateServiceServletPrepareForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.uploadService.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/roleVSP/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModelCreator</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.ModelCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelCreator</servlet-name>
    <url-pattern>/roleVSP/MakeModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StyleCreator</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.StyleCreator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StyleCreator</servlet-name>
    <url-pattern>/roleVSP/CreateStyle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualResultsModel</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.VisualResultsModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualResultsModel</servlet-name>
    <url-pattern>/roleEndUser/ViewResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefreshableResultsJava</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.RefreshableResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshableResultsJava</servlet-name>
    <url-pattern>/roleEndUser/RefreshableResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualStyles</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.VisualStyles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualStyles</servlet-name>
    <url-pattern>/roleEndUser/ViewStyle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreviewModelAndInterface</servlet-name>
    <servlet-class>presentation.webgui.vitroappservlet.PreviewModelAndInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewModelAndInterface</servlet-name>
    <url-pattern>/roleVSP/PreviewModelAndInterfaces</url-pattern>
  </servlet-mapping>
 <servlet>
        <servlet-name>CreateServiceServletCompositeService</servlet-name>
        <servlet-class>presentation.webgui.vitroappservlet.service.CreateServiceServletCompositeService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServiceServletCompositeService</servlet-name>
        <url-pattern>/roleVSP/CreateServiceServletCompositeService</url-pattern>
    </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/error403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
</web-app>
